/* CSS declarations go here */
.FiltersSec > div {
  float: left;
  margin-left: 1em;
}

.FiltersSec::after {
  content: "";
  display: block;
  clear: both;
}

.SpeakersSec {
  margin-top: 2em;
}

.addSpeaker {
  cursor: pointer;
  float: left;
}

.removeSpeaker {
    color: red;
    cursor: pointer;
}
